html {
  @apply text-gray-800 bg-orange-light font-body;
  font-size: 16px;
  scroll-behavior: smooth;

  --logo-color: theme('colors.orange.light');
  --logo-hover-color: theme('colors.blue.light');
}

body {
  @apply overflow-x-hidden;

  &.offcanvas-shown {
    @apply overflow-y-hidden;

    #appWrapper {
      transform: translateX(13rem);
    }
  }
}

#appWrapper {
  @apply w-full;
  transition: all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#appMain {
  @apply relative block pt-16 md:pt-20;
}
